<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>
<body>
  <h1>Welcome to your Dashboard</h1>
  <p>User: <%= user.email %></p>
  <p>UID: <%= user.uid %></p>
  <p>Token: <%= idToken %></p>

  <button id="getData">Get Data</button>
  <div id="data"></div>

  <script src="/javascripts/dashboard.js"></script>
</body>
</html>
