<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="FavorsPage.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Favors</title>
</head>
<body>
    <img class="logo" src="Storks Simple Logo.png" alt="Logo">
    <img class="logo" src="StorksLogoTransparent.png" alt="Logo">

    <script>
        var database = require('./app');
        // Use the database reference to query the database
        var usersRef = database.ref('users');
        usersRef.on('value', function(snapshot) {
        // Do something with the data
        });
    </script>


    <h1>[Users] Favors</h1>
    <h2>Active Favors</h2>
    <h3>### Requested</h3>
    <h3>### Assigned</h3>

    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Posted Date</th>
                    <th>Scheduled Date</th>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Posted Date</th>
                    <th>Scheduled Date</th>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Details</th>                </tr>
            </tbody>
        </table>
    </div>
</body>
<h2>Completed Favors</h2>
    <h3>### Requested</h3>
    <h3>### Assigned</h3>

    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Posted Date</th>
                    <th>Scheduled Date</th>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Posted Date</th>
                    <th>Scheduled Date</th>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Details</th>                
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>