<!-- query for accessing counter numbers in database SELECT requested_favors_active FROM UserFavorsFacts WHERE user_id == currentUserID -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="FavorsPage.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Favors</title>
</head>
<style>
    body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background:#1477d2;
}
img.logo{
    height: 20%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    letter-spacing: 1px;
    color: #353c43;
    padding: 50px 0;    
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#353c43;
    padding: 20px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: px;
    font-size: 14px;
    color: #353c43
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: rgb(243, 244, 255);
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 10px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #353c43;
    background: #ffffff;
}


.fl-table thead th:nth-child(odd) {
    color: #353c43;
    background: #ffffff;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
        border-radius: 10px;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: rgb(163, 48, 48);
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 12px;
        font-size: 13px;
        text-overflow: ellipsis;
        border-radius: 10px;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
</style>
<body style="background: color #1477d2;">
    <img class="logo" src="Storks Simple Logo.png" alt="Logo">
    <img class="logo" src="StorksLogoTransparent.png" alt="Logo">

    <h1>[Users] Favors</h1>
    <h2>Active Favors</h2>
    <h3>### Requested</h3>
    <h3>### Assigned</h3>
    </table>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Posted</th>
            <th>Scheduled</th>
            <th>Title</th>
            <th>Location</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
        </tr>
        <tr>
            <td>Content 2</td>
            <td>Content 2</td>
            <td>Content 2</td>
            <td>Content 2</td>
            <td>Content 2</td>
        </tr>
        <tbody>
    </table>
</div>

    <h2>Completed Favors</h2>
    <h3>### Requested</h3>
    <h3>### Assigned</h3>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Posted</th>
            <th>Completed</th>
            <th>Title</th>
            <th>Location</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
        </tr>
        <tr>
            <td>Content 2</td>
            <td>Content 2</td>
            <td>Content 2</td>
            <td>Content 2</td>
            <td>Content 2</td>
        </tr>
        <tr>
            <td>Content 3</td>
            <td>Content 3</td>
            <td>Content 3</td>
            <td>Content 3</td>
            <td>Content 3</td>
        </tr>
        <tr>
            <td>Content 4</td>
            <td>Content 4</td>
            <td>Content 4</td>
            <td>Content 4</td>
            <td>Content 4</td>
        </tr>
        <tbody>
    </table>
</div>
    
</body>
</html>