<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="FavorsPage.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Favors</title>
</head>
<body>
    <img class="logo" src="Storks Simple Logo.png" alt="Logo">
    <img class="logo" src="StorksLogoTransparent.png" alt="Logo">

    <h1>[Users] Favors</h1>
    <h2>Active Favors</h2>
    <h3>### Requested</h3>
    <h3>### Assigned</h3>

    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Posted</th>
                    <th>Scheduled</th>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Content 1</td>
                    <td>Content 1</td>
                    <td>Content 1</td>
                    <td>Content 1</td>
                    <td>Content 1</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>