<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="login-box">
        <% if (message) { %>
        <p class="error"><%= message %></p>
        <% } %>
        <img src="\images\image.png" alt="Avatar" class="resize-image" />
        <form action="/login" method="POST">
          <div class="login-box-input">
            <input type="email" name="email" placeholder="Email" required />
          </div>
          <div class="login-box-input">
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <div>
            <input type="submit" value="Login" />
          </div>
        </form>
        <div class="login-box-footer">
          <p>Need an account? <a href="/register">Register</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
