<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="login-box">
        <img src="\images\image.png" alt="Avatar" class="resize-image" />
        <% if (error && error.length > 0) { %>
        <div class="alert alert-danger">
          <% for (let i = 0; i < error.length; i++) { %>
          <p><%= error[i] %></p>
          <% } %>
        </div>
        <% } %>
        <form action="/login" method="POST">
          <div class="login-box-input">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="login-box-input">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              required
            />
          </div>
          <button class="login-btn" type="submit" value="Login">Login</button>
          <p class="login-box-text">
            <a href="#">Forgot your password?</a>
          </p>
        </form>
        <div class="login-box-footer">
          <p>Need an account? <a href="/register">Register</a></p>
        </div>
      </div>
    </div>
  </body>
</html>