<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <img src="/images/image.png" alt="Avatar" class="resize-image" />
      <form action="/login" method="POST">
        <div class="btn-container">
          <div class="text-space">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="text-space">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="text-space">
            <button class="login-btn" type="submit" value="Login">Login</button>
          </div>
          <a href="/register">Register</a>
        </div>
      </form>
    </div>
  </body>
</html>