<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile-page.css">
    <link rel="javascript" href="Profile-Page.js">
</head>
    <body>

    <div class="boxed">

        <div class="image">
            <img id="profile-image" img src="/images/default-img.png" class="rounded">
        </div>

        <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
            <label for="image" class="message">Choose an image to upload:</label>
            <input type="file" name="image" id="image">
            <br>
            <!-- <input type="submit" value="Upload"> -->
        </form>
        

        <script>
            const input = document.getElementById('image');
            const img = document.getElementById('profile-image');

            input.addEventListener('change', () => {
                const file = input.files[0];
                const reader = new FileReader();

                reader.addEventListener('load', () => {
                    img.src = reader.result;
                });

                reader.readAsDataURL(file);
            });
        </script>

        <div class="username">
            <h1>Hello <%= user.name.charAt(0).toUpperCase() + user.name.slice(1)
            %></h1>
        </div>

        <div class="useremailaddress">
            <h3><%= user.email %></h3>
        </div>

        <div class="ButtonWrap">
        
            <a href="favors-page.ejs">
            <button type="button1" class="b1 button">Favor counter</button>
            </a>
            <a href="rewards-page.ejs">
                <button type="button2" class="b2 button">Rewards</button>
            </a>
            <form action="/logout" method="POST">
              <button type="button3" class="b3 button">Logout</button>
            </form>
        
    
        </div>
        </div>

</body>
</html>