* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Roboto', sans-serif;;
  background-color: #121212 ;
}

header {
  width: 100%;
  background-color: #003B6D;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar .logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  display: block;
  color: #fff;
  padding: 0 1rem;
  font-size: 1rem;
  text-decoration: none;
}

.nav-links a:hover {
  color: #f0f0f0;
}


.hero {
  margin: 10px;
}

.hero-content {
  color: #bdc1c6;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-circle {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.create-task-btn {
  background-color: black;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}

.create-task-btn:hover {
  background-color: gray;
}

