
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.default-img {
  height: 20%;
  width: 20%;
}

#map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 580px;
  width: 90%;
  border-radius: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #121212; */
  /* background: linear-gradient(to bottom, #4D84EB, #6E9EFF, #8DB8FF, #ABD4FF); */
  background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}

header {
  width: 100%;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;

}

.navbar .logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  display: block;
  color: #fff;
  padding: 0 1rem;
  font-size: 1rem;
  text-decoration: none;
}

.nav-links a:hover {
  color: #f0f0f0;
}

.button-container {
  display: flex;
  align-items: center;
}

.hero {
  margin: 10px;
}

.hero-content {
  color: black;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-circle {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.create-task-btn {
  background-color: black;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}

.create-task-btn:hover {
  background-color: gray;
}

.logout-btn {
  display: inline-block;
  background-color: black;
  color: #fff;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  margin-left: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.logout-btn:hover {
  background-color: #fff;
  color: #003B6D;
}

.marker-icon {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f00;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
}
