body {
    font-family: Arial, sans-serif;
    background-color: #1565c0;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
  }
  h2{
    font-size: 20px;
    margin-left: 50px;
  }
  h3{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
  }
  
  p {
    font-size: 15px;
    color: #fffbfb;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 5%;
  }
  
h2 {
    font-size: 24px;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    
  }
  
  ul {
    list-style: disc;
    margin-left: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  ul, ol {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  
  
  li {
        display: block;
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 10px;
        margin-left: 35%;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 10px;
        border-radius: 5px;
        width: 30%
        
      }
  
  .reward-container {
    display: flex;
    justify-content: space-between;
  }
  
  .reward-box {
    width: 40%;
    margin: 0 10px;
    margin-left: 10%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
  }
  
  .reward-box h3 {
    margin-top: 0;
    text-align: center;
  }
  
  .reward-box p {
    margin-top: 10px;
  }
  
  .reward-box .points {
    color: #1565c0;
    font-weight: bold;
    font-size: 24px;
  }
  
  .reward-box .redeem-button {
    margin-top: 20px;
    background-color: #1565c0;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .reward-box .redeem-button:hover {
    background-color: #95c2f5;
  }  
  .history-box {
    width: 40%;
    margin: 0 5px;
    margin-right: 10%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
  }
  .history-box h3 {
    margin-top: 0;
    text-align: center;
  }
  .reward-history {
    margin-top: 10px;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .reward-entry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border: 1.5px solid #1565c0;
    border-radius: 5px;
    font-size: 18px;
    color: #1565c0;
  }
  
  .reward-entry .date {
    font-weight: bold;
  }
  
  .reward-entry .points {
    color: #1565c0;
  }
.redeem-button{
    margin: 20px auto 0;
    display: block;
}
.title-b {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    margin: 0 300px;
  }
  
  .title-b h2 {
    font-size: 36px;
    color: #1565c0;
    text-align: center;
    margin: 0;
    
  }
  .title-b h4{
    font-size: 15px;
    padding: 10px;
    color: #000000;
    text-align: center;
    margin: 0;
  }
  .picture-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 130%;
    max-width: 800px;
    margin: 20px auto 0;
    background-color: #f2f2f2;
  }
  
  .picture-bar img {
    margin: 0 10px;
    height: 40px;
  }
  